[Unit]
Description=Pushbullet notifications

[Service]
ExecStart=/home/b11b9/.local/bin/pb-notify
EnvironmentFile=/home/b11b9/.pb-notify-env

[Install]
WantedBy=multi-user.target
